@tailwind base;
@tailwind components;
@tailwind utilities;

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    /* display: none; */
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* .nav {
    display:none;
} */

nav.menu-tray {
    display: block;
    width: 100%;
    height: 100vh;
    background: #040752;
    z-index: 99;
    position: fixed;
    right: 0;
    top: 4em
}

.menu-tray ul{
    margin-top: 0.5em;
    padding: 1em;
}

.menu-tray a{
    color: white;
}

#menu-bar {
    z-index: 999;
}